*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
.terraform.tfstate.lock.info
.aws/
*.kubeconfig
kubeconfig
charts/*.tgz
.env
.env.local
aws-credentials.env
.project-overview.md
.scripts/cost-optimization.sh 